<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add User</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Add User</h1>
<form th:action="@{/users/add}" method="post">
    //TODO
    <input type="submit" value="Add User">
</form>
<a th:href="@{/users/1}">Add user</a><br>
<a th:href="@{/reviews}">Site reviews</a>
</body>
</html>

