<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Articles</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <span sec:authorize="hasAuthority('SALE USER')"><a th:href="@{/items}">Items</a>|</span>
        <a th:href="@{/articles}">Articles</a>   |
        <a th:href="@{/profile}">Profile</a>   |
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Articles</h1>
<div sec:authorize="hasAuthority('SALE USER')"><a th:href="@{/articles/new}">Create Article</a></div>
Sort by:
<a th:href="@{/articles?sort=date&order=asc}">Date ASC</a>
<a th:href="@{/articles?sort=date&order=desc}">Date DESC</a>
<a th:href="@{/articles?sort=surname&order=asc}">Surname ASC</a>
<a th:href="@{/articles?sort=surname&order=desc}">Surname DESC</a>
<a th:href="@{/articles?sort=views&order=asc}">Views ASC</a>
<a th:href="@{/articles?sort=views&order=desc}">Views DESC</a>
<hr/>
<th:block th:each="article : ${articles}">
    <h3 th:text="${article.name}">...</h3>
    <h5 th:text="'Author: '+${article.userDTO.name}+' '+${article.userDTO.surname}">...</h5>
    <h5 th:text="'Created: '+${article.created}+' Views: '+${article.views}">...</h5>
    <p th:text="${article.text}">...</p>
    <a th:href="@{/articles/{article_id}/comments(article_id=${article.id})}">More</a><br>
    <div sec:authorize="hasAuthority('SALE USER')">
        <form th:action="@{/articles/delete}" method="post">
            <input hidden th:value="${article.id}" name="article_id">
            <input type="submit" value="Delete Article">
        </form>
    </div>
    <hr/>
</th:block>
<th:block th:if="${pages}>0" th:each="i:${#numbers.sequence(1,pages)}">
    <a th:href="@{/articles?page={page}&sort={sort}&order={order}(page=${i},sort=${sort},order=${order})}">
        <span th:text="${i}">...</span></a>
</th:block>
</body>
</html>

