<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/items}">Items</a>|
        <a th:href="@{/orders}">Orders</a>   |
        <a th:href="@{/articles}">Articles</a>   |
        <span sec:authorize="hasAuthority('CUSTOMER USER')"><a th:href="@{/profile}">Profile</a>|</span>
        <span sec:authorize="hasAuthority('CUSTOMER USER')"><a th:href="@{/reviews/new}">Reviews</a>|</span>
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Profile</h1>
<form method="post" th:action="@{/profile}" th:object="${userDTO}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input maxlength="20" placeholder="Ivan" required th:field="${user.name}"
                       th:value="${user.name}"
                       type="text"/>
            </td>
            <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input maxlength="40" placeholder="Ivanov" required
                       th:field="${user.surname}" th:value="${user.surname}"
                       type="text"/></td>
            <td th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Surname Error</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input maxlength="100" placeholder="Independence Avenue" required
                       th:field="${user.profileDTO.address}" th:value="${user.profileDTO.address}" type="text"/></td>
            <td th:errors="*{profileDTO.address}" th:if="${#fields.hasErrors('profileDTO.address')}">Address Error</td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td><input maxlength="13" placeholder="+375---------" required
                       th:field="${user.profileDTO.telephone}" th:value="${user.profileDTO.telephone}" type="text"/>
            </td>
            <td th:errors="*{profileDTO.telephone}" th:if="${#fields.hasErrors('profileDTO.telephone')}">Telephone
                Error
            </td>
        </tr>
        <tr>
            <td>Old password:</td>
            <td><input maxlength="20" name="old_password" placeholder="old" type="password"/></td>
            <td th:text="${password}" th:unless="${password==null}">...</td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input maxlength="20" name="new_password" placeholder="new" type="password"/>
            </td>
            <td th:text="${password}" th:unless="${password==null}">...</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Change Info</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>

