<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reviews</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/users}">Users</a>|
        <a th:href="@{/reviews}">Reviews</a>|
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Site Reviews</h1>
<form method="post" th:action="@{/reviews/delete}">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Review</th>
            <th>Created</th>
            <th>Delete</th>
            <th>Visible</th>
        </tr>
        <th:block th:each="review : ${reviews}">
            <tr>
                <td th:text="${review.userDTO.name}">...</td>
                <td th:text="${review.userDTO.surname}">...</td>
                <td th:text="${review.userDTO.patronymic}">...</td>
                <td th:text="${review.text}">...</td>
                <td th:text="${review.created}">...</td>
                <td align="center"><input name="delete" th:value="${review.id}" type="checkbox"/></td>
                <td align="center">
                    <input name="old_visibility" th:value="${review.id}+' '+${review.visible}" type="hidden">
                    <input name="new_visibility" th:checked="${review.visible}" th:value="${review.id}+' '+${true}"
                           type="checkbox"/>
                </td>
            </tr>
        </th:block>
    </table>
    <th:block th:each="i:${#numbers.sequence(1,pages)}" th:if="${pages}>0">
        <a th:href="@{/reviews?page={page}(page=${i})}"><span th:text="${i}">...</span></a>
    </th:block>
    <br>
    <input th:formaction="@{/reviews/change_visibility}" type="submit" value="Change visibility">
    <input type="submit" value="Delete selected">
</form>
</body>
</html>

