<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/users}">Users</a>|
        <a th:href="@{/reviews}">Reviews</a>|
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Add User</h1>
<form method="post" th:action="@{/users/new}" th:object="${userDTO}">
    <table>
        <tr>
            <td>Surname:</td>
            <td><input maxlength="40" placeholder="Ivanov" required th:field="*{surname}" type="text"/></td>
            <td th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Surname Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input maxlength="20" placeholder="Ivan" required th:field="*{name}" type="text"/></td>
            <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
        </tr>
        <tr>
            <td>Patronymic:</td>
            <td><input maxlength="40" placeholder="Ivanovich" required th:field="*{patronymic}" type="text"/></td>
            <td th:errors="*{patronymic}" th:if="${#fields.hasErrors('patronymic')}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input maxlength="50" placeholder="ivanov2019@gmail.com" required th:field="*{username}" type="email"/>
            </td>
            <td th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Email Error</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <select class="dropdown" th:field="*{roleDTO.id}">
                    <option th:each="role : ${roles}" th:text="${role.name}"
                            th:value="${role.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Add User</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>

