<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Users</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Users List</h1>
<form th:action="@{/users/change_pass}" method="post">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Role</th>
            <th>Delete</th>
            <th>Pass</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.name}">...</td>
                <td th:text="${user.surname}">...</td>
                <td th:text="${user.patronymic}">...</td>
                <td th:text="${user.username}">...</td>
                <td th:if="${user.blocked}" th:text="${user.roleDTO.name}">...</td>
                <td th:unless="${user.blocked}">
                    <select class="dropdown" name="change_role">
                        <option th:each="role : ${roles}" th:if="${role.name} == ${user.roleDTO.name}" selected
                                th:text="${role.name}"
                                th:value="${user.id}+','+${user.roleDTO.name}+','+${role.name}"></option>
                        <option th:each="role : ${roles}" th:unless="${role.name} == ${user.roleDTO.name}"
                                th:text="${role.name}"
                                th:value="${user.id}+','+${user.roleDTO.name}+','+${role.name}"></option>
                    </select>
                </td>
                <td th:if="${user.blocked}" align="center"><input type="checkbox" disabled="disabled"/></td>
                <td th:unless="${user.blocked}" align="center"><input type="checkbox" name="delete"
                                                                      th:value="${user.id}"/></td>
                <td align="center"><input type="checkbox" name="change_pass" th:value="${user.username}"/></td>
            </tr>
        </th:block>
    </table>
    <th:block th:each="i:${#numbers.sequence(1,pages)}">
        <a th:href="@{/users/{page}(page=${i})}"><span th:text="${i}">...</span></a>
    </th:block>
    <br>
    <input type="submit" value="Change roles" th:formaction="@{/users/change_roles}">
    <input type="submit" value="Delete selected" th:formaction="@{/users/delete_users}">
    <input type="submit" value="Change selected passwords">
</form>
<a th:href="@{/users/add}">Add user</a><br>
<a th:href="@{/reviews/1}">Site reviews</a>
</body>
</html>

