<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/users}">Users</a>|
        <a th:href="@{/reviews}">Reviews</a>|
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Users List</h1>
<form method="post" th:action="@{/users/change_pass}">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Role</th>
            <th>Delete</th>
            <th>Pass</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.name}">...</td>
                <td th:text="${user.surname}">...</td>
                <td th:text="${user.patronymic}">...</td>
                <td th:text="${user.username}">...</td>
                <td th:if="${user.blocked}" th:text="${user.roleDTO.name}">...</td>
                <td th:unless="${user.blocked}">
                    <select class="dropdown" name="change_role">
                        <option selected th:each="role : ${roles}" th:if="${role.name} == ${user.roleDTO.name}"
                                th:text="${role.name}"
                                th:value="${user.id}+','+${user.roleDTO.id}+','+${role.id}"></option>
                        <option th:each="role : ${roles}" th:text="${role.name}"
                                th:unless="${role.name} == ${user.roleDTO.name}"
                                th:value="${user.id}+','+${user.roleDTO.id}+','+${role.id}"></option>
                    </select>
                </td>
                <td align="center" th:if="${user.blocked}"><input disabled="disabled" type="checkbox"/></td>
                <td align="center" th:unless="${user.blocked}"><input name="delete" th:value="${user.id}"
                                                                      type="checkbox"/></td>
                <td align="center"><input name="change_pass" th:value="${user.id}" type="checkbox"/></td>
            </tr>
        </th:block>
    </table>
    <th:block th:each="i:${#numbers.sequence(1,pages)}">
        <a th:href="@{/users?page={page}(page=${i})}"><span th:text="${i}">...</span></a>
    </th:block>
    <br>
    <input th:formaction="@{/users/change_roles}" type="submit" value="Change roles">
    <input th:formaction="@{/users/delete}" type="submit" value="Delete selected">
    <input type="submit" value="Change selected passwords">
</form>
<a th:href="@{/users/new}">Create user</a><br>
</body>
</html>

