<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add User</title>
</head>
<body>
<header>
    <span sec:authorize="isAuthenticated()">
        Logged user : <span sec:authentication="name"></span>   |
        Role: <span sec:authentication="principal.authorities"></span>   |
        <a th:href="@{/logout}">Logout</a>
    </span>
</header>
<h1>Add User</h1>
<form th:action="@{/users/add}" th:object="${userDTO}" method="post">
    <table>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" placeholder="Ivanov" required maxlength="40"/></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" placeholder="Ivan" required maxlength="20"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Patronymic:</td>
            <td><input type="text" th:field="*{patronymic}" placeholder="Ivanovich" required maxlength="40"/></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="email" th:field="*{username}" placeholder="ivanov2019@gmail.com" required maxlength="50"/>
            </td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <select class="dropdown" th:field="*{roleDTO.name}">
                    <option th:each="role : ${roles}" th:text="${role.name}"
                            th:value="${role.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Add User</button>
            </td>
        </tr>
    </table>
</form>
<div th:unless="${duplicate==null}" th:text="${duplicate}">...</div>
<a th:href="@{/users}">Users</a><br>
<a th:href="@{/reviews}">Site reviews</a>
</body>
</html>

